.card {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px;
    background-color: rgb(182, 181, 245);
    border-radius: 20px;
    overflow: hidden;

    &__header {
        position: absolute;
        width: 100%;
        padding: 10px 20px;
        background-color: rgb(155, 154, 231);
    }
    &__btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 100%;
        max-width: 40px;
        height: 40px;
        border: none;
        border-radius: 8px;
        background-color: rgb(233, 232, 248);
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            box-shadow: 2px 4px 7px 0px #8584dc;
            transition: all .3s ease;
        }
    }
    &__title {
        display: block;
        color: rgb(233, 232, 248);
    }
    &__spinner {
        position: relative;
    }
}